.version-20-is {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 31px;
  font-weight: 500;
  display: inline-block;
  min-width: 75px;
}
.tag {
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-600);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
}
.h2,
.tag-wrapper {
  align-self: stretch;
}
.tag-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.h2 {
  margin: 0;
  position: relative;
  font-size: var(--h2-size);
  letter-spacing: -0.06em;
  line-height: 61px;
  font-weight: 700;
  font-family: var(--h2);
  background: linear-gradient(180deg, #000, #001354);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.data-processor,
.shape-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.shape-container {
  width: 540px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.data-processor {
  margin-top: 28rem;
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 7px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--tag-size);
  color: var(--color-black);
  font-family: var(--body-s);
}
.label-maker {
  width: 100%;
  height: calc(100% - 91px);
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 91px;
  left: 0;
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  z-index: 1;
}
.desktop,
.fill-provider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.fill-provider {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-22xl) var(--padding-xl) var(--padding-54xl) 46px;
  gap: var(--gap-12xs);
  min-height: 877px;
  max-width: 100%;
  flex-shrink: 0;
}
.desktop {
  width: 1350px;
  height: 6605px;
  background-color: var(--neutral-100);
  overflow: hidden;
  align-items: flex-start;
  padding: 0 0 328px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .fill-provider {
    padding-left: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .fill-provider {
    padding-top: 27px;
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .desktop {
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .h2 {
    font-size: var(--font-size-24xl);
    line-height: 48px;
  }
}
@media screen and (max-width: 450px) {
  .h2 {
    font-size: var(--font-size-13xl);
    line-height: 36px;
  }
  .fill-provider {
    padding-top: var(--padding-xl);
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}
