.data-splitter,
.logosaas-icon1 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}

.kz{

  color: white;
  
}

.kz:hover{

  color: white;
}
.data-splitter {
  height: 80.49%;
  top: 14.63%;
  bottom: 4.88%;
  background: linear-gradient(
    89.43deg,
    #f87bff,
    #fb92cf 24.06%,
    #ffdd9b 48.2%,
    #c2f0b1 72.84%,
    #2fd8fe
  );
  filter: blur(11px);
}
.logosaas-icon1 {
  height: 97.56%;
  top: 0;
  bottom: 2.44%;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.logodefault1 {
  width: 40px;
  height: 41px;
  position: relative;
}
.effortlessly-turn-your {
  align-self: stretch;
  position: relative;
}
.logodefault-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.socials-icon,
.socials-icon1,
.socials-icon2,
.socials-icon3,
.socials-icon4,
.socials-icon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.logo-group,
.output-divider {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.output-divider {
  width: 240px;
  flex-direction: column;
  gap: var(--gap-92xl);
}
.features1,
.product2 {
  position: relative;
  display: inline-block;
}
.product2 {
  color: var(--neutral-100);
  min-width: 55px;
}
.features1 {
  min-width: 58px;
}
.faq,
.integrations3,
.pricing,
.updates1 {
  position: relative;
  display: inline-block;
  min-width: 79px;
}
.faq,
.pricing,
.updates1 {
  min-width: 56px;
}
.faq,
.pricing {
  min-width: 27px;
}
.pricing {
  min-width: 46px;
}
.product1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.about1,
.company1 {
  position: relative;
  display: inline-block;
}
.company1 {
  color: var(--neutral-100);
  min-width: 66px;
}
.about1 {
  min-width: 40px;
}
.blog,
.careers,
.contact,
.manifesto,
.press {
  position: relative;
  display: inline-block;
  min-width: 30px;
}
.careers,
.contact,
.manifesto,
.press {
  min-width: 52px;
}
.contact,
.manifesto,
.press {
  min-width: 66px;
}
.contact,
.press {
  min-width: 37px;
}
.contact {
  min-width: 53px;
}
.company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.resources1 {
  position: relative;
  display: inline-block;
  color: var(--neutral-100);
  min-width: 73px;
}
.community,
.docs,
.examples,
.guides {
  position: relative;
  display: inline-block;
  min-width: 64px;
}
.community,
.docs,
.guides {
  min-width: 76px;
}
.docs,
.guides {
  min-width: 47px;
}
.docs {
  min-width: 34px;
}
.resources {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.legal,
.privacy,
.security1,
.terms {
  position: relative;
  display: inline-block;
}
.legal {
  color: var(--neutral-100);
  min-width: 38px;
}
.privacy,
.security1,
.terms {
  min-width: 49px;
}
.security1,
.terms {
  min-width: 41px;
}
.security1 {
  min-width: 55px;
}
.security {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.footer,
.footer-l,
.value-comparer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.value-comparer {
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
  color: var(--color-gray-100);
}
.footer,
.footer-l {
  box-sizing: border-box;
  flex-shrink: 0;
}
.footer-l {
  width: 1350px;;
  background-color: var(--color-black);
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-xl);
  debug_commit: f6aba90;
  text-align: left;
  font-size: var(--body-s-size);
  color: var(--color-silver);
  font-family: var(--body-s);
}
.footer {
  align-self: stretch;
  background-color: var(--neutral-100);
  overflow: hidden;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  max-width: 100%;
  z-index: 2;
}
@media screen and (max-width: 750px) {
  .footer-l {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .value-comparer {
    flex-wrap: wrap;
    gap: var(--gap-5xl);
  }
}
